.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.clear {
	clear: both;
}

.sections {
	padding: 50px 0;
}

.navbar-inner {
	min-height: 0px;
	margin-bottom: 0px;

	background-color: #393e42;
	border-radius: 0px;
	border-bottom-color: rgb(212, 212, 212);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}

.hero-unit h1 {
	margin-bottom: 12px;
}

body {
	background: #eee;
}

.logo {
	margin-right: 10px;
	color: #111 !important;
}

.logo:hover {
	color: #000 !important;
}

.table th, .table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: middle !important;
	border-top: 1px solid #DDD;
}

.btn_right {
	margin-left: 10px;
}

.group-actions {
	margin-bottom: 10px;
}

.tab-content h3 {
	margin-bottom: 0 !important;
}

.favicon {
	width: 24px;
	height: 24px;
	margin-right: 9px;
	margin-top: -6px;
}

.article_title {
	padding-left: 4px;
	line-height: 24px;
	font-weight: 200;
}

#search_bar_container {
	padding: 7px;
}

.navbar-form .input-append, .navbar-form .input-prepend {
	margin-top: 0px;
}

.tab-button .active {
	
}

.tab-button {

}

.nav-tabs {
	border-bottom: 0px;
}

.nav-tabs > li > a {

  border: 1px solid rgba(27, 21, 9, 0.2);
  -webkit-border-radius: 14px 14px 0 0;
     -moz-border-radius: 4px 4px 0 0;
  border-radius: 17px 17px 0 0;
}

.nav-tabs > li > a.active {
  border: 1px solid rgba(27, 21, 9, 0.2);
  -webkit-border-radius: 14px 14px 0 0;
     -moz-border-radius: 4px 4px 0 0;
  border-radius: 17px 17px 0 0;
}

/* trying out tab thing */


/*#d5c3ac*/
